.Main-Container{
    margin-left: 25rem;
}

.User-Bg {
    margin-left: 30px;
    width: 366px;
    height: 56px;
    background-color: #3D3B40;
    border-radius: 8px;
    margin-bottom: 10px; 
}

.Friend-List-Bg{
    margin-left: 30px;
    width: 366px;
    height: 1050px;
    background-color: #3D3B40;
    border-radius: 8px;
}


.Friend-Bg{
    margin-left: 30px;
    width: 1100px;
    height: 57px;
    background-color: #3D3B40;
    border-radius: 8px;
    position: relative;
    bottom: 69.7rem;
    left: 24rem;
}



.Message-Bg {
    margin-left: 30px;
    width: 1020px;
    height: 73px;
    background-color: #393940;
    border-radius: 15px;
    position: relative;
    top: 2.3rem;
    left: 2rem;
    transform: rotate(-0.2deg);
}

.Message-textbox {
    position: relative;
    display: flex;
    font-size: 18px;
    bottom: -10.1rem;
    top: -1.5rem; /* This property is not needed, as 'bottom' and 'top' are contradictory */
    flex-direction: column;
    left: 12rem;
    padding: 15px;
    padding-right: 30rem; /* This property seems excessive, consider using 'margin-right' instead */
    background-color: #595959;
    border: 0px solid #ccc; /* Border is set to 0px, which means no border, consider removing this line */
    border-radius: 10px;
    outline: none; /* This might be unnecessary, as it removes the outline from the element */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: none; /* Consider if you really want to remove the box shadow */
    color: white;
    text-indent: 10px;
    transform: rotate(-0.2deg);
}

.User-Profile{
    position: fixed;
    left: 28rem;
    top: 34px;
    cursor: pointer;    
}
.User-Profile-Name{
    position: fixed;
    left: 32rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 40px;
    font-size: 36px;
    color: white;
}

.Contact-Item {
    position: relative;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 24px;
   
    border-radius: 8px;
    top: 10px;
  }
  

  .contact-name {
    position: relative;
    text-align: center;
    justify-content: center;
  
  }
  
  .contact-icon {
    position: relative;
    right: 5rem;
    bottom: 2.5rem;
    
  }

  .Contact-Bg {
    position: fixed;
    cursor: pointer;
    width: 330px;
    height: 930px;
    left: 27.8rem;
    top: 180px;
    background-color: #2D2D33;
    border-radius: 8px;
    overflow: auto;
}





.Friend-Profile{
    position: fixed;
    left: 76rem;
    top: 34px;
    cursor: pointer;    
}

.Friend-Profile-Name{
    position: fixed;
    left: 80rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 40px;
    font-size: 36px;
    color: white;
}


.Friend-Settings{
    position: fixed;
    left: 111.4rem;
    top: 36px;
    cursor: pointer;
}

.Add-Friend{
    position: fixed;
    left: 43rem;
    top: 40px;
    cursor: pointer;
}

.User-Settings{
    position: fixed;
    left: 46rem;
    top: 40px;
    cursor: pointer;
}

.Add-Photo-Btn{
    position: fixed;
    left: 55rem;
    top: 66.6rem;
    cursor: pointer;
}

.Add-Smile-Btn{
    position: fixed;
    left: 58rem;
    top: 66.6rem;
    cursor: pointer;
}

.Send-Message-Btn{
    position: fixed;
    left: 113rem;
    top: 66.6rem;
    cursor: pointer;
}

.Search-Textbox{
    position: fixed;
    left: 27.9rem;
    top: 110px;
    cursor: text;
    background-color: #25252B;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: none;
    color: white;
    text-indent: 50px;
    font-size: 24px;
}

.Search-Icon{
    position: fixed;
    left: 28.9rem;
    top: 118.5px;
}

.Chat-Container{
    margin-left: 30px;
    position: relative;
    left: 48.9rem;
    top: 107.5px;
    width: 1111px;
    height: 400px;
    overflow-y: auto; 
    background-color: #262527;
    border-radius: 8px;
    color: #fff; 
  }

  .User-Msg-Container{
   color: white;
  }

  .Friend-Msg-Container {
    position: fixed;
    left: 52rem;
    top: 55.6rem;
    width: 199px;
    height: 40px;
    background-color: #489696; 
    color: #fff; 
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 20px 20px 20px 0; 
    max-width: 199px; 
    word-wrap: break-word;
   
  }
  


  


  